<div class="row">
  <a href="/{{ activity.object.creator.username }}">
    <img class="col-lg-2 col-md-2 col-sm-2 col-xs-2" src="{{ activity.object.creator.avatarUrl }}">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h5>{% if user == activity.object.creator %}You{% else %}{{ activity.object.creator.name }}{% endif %} <small>wrote:</small></h5>
    </div>
  </a>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="row">
      <h5 class="col-lg-12" style="overflow-wrap: break-word; word-wrap: break-word; hyphens: auto;">
        {{ activity.object.content }}
      </h5>
    </div>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-7">
        <div class="row">
          <h5 class="col-lg-6 text-right">{% include 'partials/like-button.twig' with {post: activity.object, has_liked: has_liked} %}</h5>
          <h5 class="col-lg-6"><small>{{ activity.object.likes.count }}</small></h5>
        </div>
      </div>
      <div class="col-lg-3">
        <h5 class="text-right"><small>{{ activity.time | ago }}</small></h5>
      </div>
    </div>

  </div>
</div>
